@mixin main {
  margin-top: 105px; // header + subnav
  min-height: calc(100dvh - 105px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
